*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open Sans";
  }
  body {
    background-image: url(./Fotos/Imagen.jpg);
    background-size: cover;
  }
  
   nav {
        max-width: 900;
        margin: auto;
        background-color: blueviolet;
        font-size: 20px;
        margin-top: 50px;
        
      }
      .menu-horizontal{
        list-style: none;
        display: flex;
        justify-content: space-around;
      }
    
      .menu-horizontal > li > a {
        display: block;
        padding: 15px 20px;
        color: white;
        text-decoration: none;
      }
    
      .menu-horizontal >li:hover {
        background-color: red;
      }
    
      .menu-vertical {
        position: absolute;
        display: none;
        list-style: none;
        width: 200px;
        background-color: black;
      }
    
      .menu-horizontal li:hover .menu-vertical {
        display: block;
        }
  
      .menu-vertical li:hover{
        background-color: black;
      }
  
      .menu-vertical li a{
        display: block;
        color: whithe;
        padding: 15px 15px 15px 20px;
        text-decoration: none;
      }
    